.check{
  cursor: pointer;
  width: 2%;
  display: inline-block;
  margin-right: 2%;
}

.fas.fa-check-circle{
  color: green;
  
}



.fa-minus-circle{
  color: red;
  cursor: pointer;
}

.tarea-description{
  width: 88%;
  display: inline-block;
  margin-left: 10px;
}