div.row{
   margin-right: 0px;
}

div.container-fluid{
   padding-right: 0px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}